body {
    text-align: center;
    position: relative;
    padding-top: 20em;
    padding-left: -5em;
}
table {
    border: 5px solid rgb(0, 0, 0);
    height: 50em;
    width: 50em;
    border-collapse:collapse;
}
td {
    border-collapse:collapse;
    height: 5px;
    width: 5px;
    background: #fff;
}
tr {
    border-collapse:collapse;
    height: 5px;
    width: 5px;
}
#ajustes {
    position: absolute;
    padding: 10em;
    text-align: center;
    justify-content: center;
}
#juego {
    display: none;
    position: relative;
}
#arribaAbajo,#izquierdaDerecha {
    padding: 0px;
    margin: 0px;
    display: block;
    position: absolute;
    top: 15%;
    right: -50em;
}
.imgFlecha {
    height: 50px;
    width: 50px;
}
input {
    text-align: center;
}