@import url('../Roboto-Medium.ttf');
*{
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: #2d6a4f;
    padding-top: 5rem;
}
table {
    height: 50em;
    width: 50em;
}
td {
    height: 5px;
    width: 5px;
    background: #fff;
    padding: 0;
    margin: 0;
}
tr {
    border-collapse:collapse;
    height: 5px;
    width: 5px;
}
#Ajustes {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    border: 5px dotted black;
    padding: 0rem;
    background: #52b788;
    margin: 0;
    text-align: center;
}
#juego {
    display: none;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    top: 3em;
    left: 25em;
}
.imgFlecha {
    height: 50px;
    width: 50px;
}
input {
    text-align: center;
}
.boton, #empezar {
    color: #95d5b2;
    background: #1b4332;
    border: 0.09em dotted #081c15;
    font-size: 2em;font-size: 2em;
}
#tamano,#velocidad,#label,#modo,#color {
    padding: 0.5em;
    background: #52b788;
    border: 0.5em double black;
    font-size: 2em;
}
#marcadores {
    display: inline-flexbox;
    position: relative;
    border-radius: 5rem;
    border: 5px solid black;
    padding: 7.5rem;
    text-align: center;
    left: 42.5rem;
    bottom: 40rem;
}
/* #puntuacion {
    position: relative;
    left: 45rem;
    top: -25rem;
    font-size: 2em;
    color: #1b4332;
    background: #95d5b2;
}
#label {
    position: relative;
    left: 33em;
    top: 10em;
    font-size: 2em;
} */
#empezar {
    position: relative;
    font-size: 2em;
    bottom: 5rem;
}
#info {
    position: relative;
    top: -35rem;
    left: 15rem;
    background: #2d6a4f;
    justify-content: center;
    padding: 1.5em;
    opacity: 0.75;
}
#tamañoDiv, #velocidadDiv, #modoDiv, #colorDiv {
    display: inline-block;
    margin-inline: 30%;
    align-items: center;
}
#tamañoDiv, #velocidadDiv {
    position: relative;
    left: -20%;
    top: 12.3rem;
}
#modoDiv, #colorDiv {
    position: relative;
    right: -20%;
    bottom: 11rem;
}
/*No pienso explicar estilos porque ni yo se lo que he hecho. Solo sé que queda como quería que quedase xD*/