/** 
 * @author kinire98
 */
 @import url('../Roboto-Medium.ttf');
*{
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 3%;
    background: #2d6a4f;
    overflow: hidden;
}
table {
    height: 50em;
    width: 50em;
    border-collapse: collapse;
}
td {
    height: 5px;
    width: 5px;
    background: #fff;
    padding: 0;
    margin: 0;
    transition: all .05s;
    border-collapse: collapse;
}
tr {
    border-collapse:collapse;
    height: 5px;
    width: 5px;
}
#tabla_movimiento {
    margin-right:5%;
}
#juego {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 5%;
}
input {
    text-align: center;
}
.boton, #empezar {
    color: #95d5b2;
    background: #1b4332;
    border: 0.09em dotted #081c15;
    font-size: 2em;
    transition: all 0.3s;
    width: 100%;
}
.boton:hover, #empezar:hover {
    border: 0.09em dotted #95d5b2;
    box-shadow: 0 0 5px #081c15,
    0 0 25px #081c15, 
    0 0 50px #081c15, 
                0 0 200px #081c15,
                0 0 250px #081c15;
            }
            .label {
    padding: 0.5em;
    background: #52b788;
    border: 0.5em double black;
    font-size: 2em;
    transition:all 0.3s;
}
.label:hover {
    background: #95d5b2;
    color: #1b4332;
    box-shadow: 0 0 5px #081c15,
    0 0 25px #081c15, 
    0 0 50px #081c15;
}
#marcadores {
    text-align: center;
}
#empezar {
    font-size: 2em;
}
#info {
    position: absolute;
    right: 0;
    left:0;
    bottom:0;
    top:0;
    background: #2d6a4f;
    color: rgba(0, 0, 0, 1);
    padding: 1.5em;
    opacity: 0.85;
    font-size: 2rem;
    transition:.5s;
    z-index:999;
    text-align: center;
    font-weight: bolder;
}
#puntuacion {
    border-radius: 5rem;
    background: #52b788;
    border: 0.5em double black;
    padding: .5rem;
    font-size:1.5rem;
}
.table {
    height: auto;
    width: 100%;
    transition: all 1.5s;
}
.tr {
    height: 5vh;
    width: 100%;
    transition: all 1.5s;
}
.td {
    height: 10vh;
    width: 15vw;
    background: none;
    transition: all 1.5s;
}
#Ajustes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
}
.dcha {
    position: relative;
    left: 5vw;
}
/*No pienso explicar estilos porque ni yo se lo que he hecho. Solo sé que queda como quería que quedase xD*/