@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Open+Sans:wght@300&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
body {
    text-align: center;
    position: relative;
    padding-top: 5em;
    background: #2d6a4f;
}
table {
    height: 50em;
    width: 50em;
    border-collapse:collapse;
}
td {
    border-collapse:collapse;
    height: 5px;
    width: 5px;
    background: #fff;
}
tr {
    border-collapse:collapse;
    height: 5px;
    width: 5px;
}
#ajustes {
    position: absolute;
    text-align: center;
    justify-content: center;
    border-radius: 10em;
    border: 5px double black;
    padding: 10em;
    background: #52b788;
}
#juego {
    display: none;
    position: absolute;
    top: 3em;
    left: 25em;
}
.imgFlecha {
    height: 50px;
    width: 50px;
}
input {
    text-align: center;
}
.boton, #empezar {
    color: #95d5b2;
    background: #1b4332;
    border: 0.09em dotted #081c15;
    font-size: 2em;font-size: 2em;
}
#tamano,#velocidad,#label,#modo,#color {
    padding: 0.5em;
    background: #52b788;
    border: 0.5em double black;
    font-size: 2em;
}
#puntuacion {
    position: absolute;
    left: 30em;
    top: 15em;
    font-size: 2em;
    color: #1b4332;
    background: #95d5b2;
}
#label {
    position: absolute;
    left: 33em;
    top: 10em;
    font-size: 2em;
}
#empezar {
    font-size: 2em;
}
#info {
    position: absolute;
    background: #2d6a4f;
    font-size: 2em;
    top: 10.1em;
    left:2.5em;
    padding: 1.5em;
    opacity: 0.75;
}
#tamañoDiv, #velocidadDiv, #modoDiv, #colorDiv {
    position: absolute;
}
#colorDiv {
    left: 65em;
    top: 30em;
}
#modoDiv {
    left: 64em;
    top: 15em;
}
#velocidadDiv {
    top: 30em;
    left: 15em;
}
#tamañoDiv {
    top: 15em;
    left: 15em;
}
/*No pienso explicar estilos porque ni yo se lo que he hecho. Solo sé que queda como quería que quedase xD*/