body {
    text-align: center;
    position: relative;
    padding-top: 20em;
    padding-left: -5em;
    background: #2d6a4f;
}
table {
    height: 50em;
    width: 50em;
    border-collapse:collapse;
}
td {
    border-collapse:collapse;
    height: 5px;
    width: 5px;
    background: #fff;
}
tr {
    border-collapse:collapse;
    height: 5px;
    width: 5px;
}
#ajustes {
    position: absolute;
    text-align: center;
    justify-content: center;
    border-radius: 10em;
    border: 5px double black;
    padding: 10em;
    background: #52b788;
}
#juego {
    display: none;
    position: absolute;
    top: 3em;
    left: 25em;
}
.imgFlecha {
    height: 50px;
    width: 50px;
}
input {
    text-align: center;
}
.boton, #empezar {
    color: #95d5b2;
    background: #1b4332;
    border: 0.09em dotted #081c15;
    font-size: 2em;font-size: 2em;
}
#tamano,#velocidad,#label {
    padding: 0.5em;
    background: #52b788;
    border: 0.5em double black;
    font-size: 2em;
}
#puntuacion {
    display: none;
    position: absolute;
    left: 30em;
    top: 15em;
    font-size: 2em;
    color: #1b4332;
    background: #95d5b2;

}
#label {
    position: absolute;
    left: 33em;
    top: 10em;
    font-size: 2em;
}
#empezar {
    font-size: 2em;
}
#info {
    position: absolute;
    background: #2d6a4f;
    font-size: 2em;
    top: 10.1em;
    left: 4.5em;
    padding: 1.75em;
    opacity: 0.75;
}
/*I`m not going to explain any styles cause even I don't know what have I done. The only thing I know is that the page looks as I intended*/